{% extends 'base.html' %}

{% block content %}
<h1>Plant Deets: </h1>
<div class="row">
<div class="col s6">
    <div class="card">
            <div class="card-content">
                <span class="card-title">{{ plant.sci_name }} or {{ plant.common_name}}</span>
                <p>Genus: {{ plant.genus}} </p>
                <p>Description: {{ plant.description }}</p>
                <p>Water: {{ plant.water }}</p>
                <p>Sun: {{ plant.sun}}</p>
                <p>Food: {{ plant.food }}</p>
                <p>Toxicitiy: {{ plant.toxicity }}</p>
                {% if plant.age > 5 %}
                    <p>Age: {{ plant.age }}</p>
                   {% else %}
                    <p>Age: seedling/sprout</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'plants_update' plant.id %}">Edit Plant</a>
                <a href="{% url 'plants_delete' plant.id %}">Delete Plant</a>
        </div>
    </div>
</div>
<div class="col s6">
    <form action="{% url 'add_feeding' plant.id %}" method="post">
        {% csrf_token %}
        {{ feeding_form.as_p }}
        <input type="submit" class="btn" value="Add Feeding">
    </form>
    <br>
    <!----{% if plant.fed_for_month %}
      <div class="card-panel teal-text center-align">{{plant.name}} has been fertilized for the month</div>
    {% else %}
      <div class="card-panel red-text center-align">{{plant.name}} might need to be fertilized</div>
    {% endif %} -->
    <table class="stripend">
        <h4>Feedings:</h4>
        <thead>
            <tr><th>Date</th><th>Volume</th><th>Feeding Type</th></tr>
        </thead>
            <tbody>
                {% for feeding in plant.feeding_set.all %}
                <tr>
                    <td>{{feeding.date}}</td>
                    <td>{{feeding.volume}}</td>
                    <td>{{feeding.get_feeding_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="col s6">
    <form action="{% url 'add_watering' plant.id %}" method="post">
        {% csrf_token %}
        {{ watering_form.as_p }}
        <input type="submit" class="btn" value="Add Watering">
    </form>
    <br>
    <!-----{% if plant.watered_for_week %}
      <div class="card-panel teal-text center-align">{{plant.name}} has been watered for the week</div>
    {% else %}
      <div class="card-panel red-text center-align">{{plant.name}} might need water</div>
    {% endif %} --->
    <table class="stripend">
        <h4>Waterings:</h4>
        <thead>
            <tr><th>Date</th><th>Volume</th><th>Watering Time</th></tr>
        </thead>
            <tbody>
                {% for watering in plant.watering_set.all %}
                <tr>
                    <td>{{watering.date}}</td>
                    <td>{{watering.volume}}</td>
                    <td>{{watering.get_watering_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>{{ plant.common_name }}'s Pots</h3>
    {% if plant.pots.count %}
        {% for pot in plant.pots.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    A <span style="color: {{ pot.color }}">{{ pot.color }}</span> {{ pot.name }}
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'unassoc_pot' plant.id pot.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn">Remove</button>
                    </form>
                </div>
                {% endfor %}
                {%  else %}
                <h5>No Pots 🍂💀</h5>
            </div>
    {% endif%}
    </div>
    <div class="col s6">
        <h3>Pots with Space Available</h3>
        {% if pots.count %}
            {% for pot in pots.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        A <span style="color: {{ pot.color }}">{{ pot.color }}</span> {{ pot.name }}
                    </span>
                </div>
                <div class="card-action">
                    <form action="{% url 'assoc_pot' plant.id pot.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn">Add</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h5>{{plant.name}} Already Growing In All Pots</h5>
        {% endif %}
    </div>
</div>
<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    const dateWaterEl = document.getElementById('water-id');
    M.Datepicker.init(dateWaterEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    const selectEl = document.getElementById('id_feeding');
    M.FormSelect.init(selectEl);

    const selectWaterEl = document.getElementById('id_watering');
    M.FormSelect.init(selectWaterEl);
  </script>
 
{% endblock %}