{% extends 'base.html' %}

{% block content %}
<h1>Plants List</h1>
{% for plant in plants %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ plant.sci_name }} or {{ plant.common_name}}</span>
        <p>Genus: {{ plant.genus}} </p>
        <p>Description: {{ plant.description }}</p>
        <p>Water: {{ plant.water }}</p>
        <p>Sun: {{ plant.sun}}</p>
        <p>Food: {{ plant.food }}</p>
        <p>Toxicitiy: {{ plant.toxicity }}</p>
        {% if plant.age > 5 %}
            <p>Age: {{ plant.age }}</p>
            {% else %}
            <p>Age: seedling/sprout</p>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}