{% extends 'base.html' %}

{% block content %}
<h1>About the Plant Master</h1>
<hr>
<div class="about"><h2>Meet the plant master and her apprentice</h2></div>
<p class="about">Tiya, and her apprentice, Zorrito (an Icelandic sheepdog), grow mostly succulents and catci in their currently climate, but 
    have experince with planting seeds, seed banking, and saving those neglected plants. They are friendly and helpful and also offer
    plant sitting when you're away on vacations. 
</p>
<img class="circles" src="https://i.imgur.com/GKSazRf.jpg" alt="zo&Tiya">
<img class="circles" src="https://i.imgur.com/rQK72qF.jpg" alt="pic of zo">
<img class="circles" src="https://i.imgur.com/8fBv7bt.jpg" alt="pic of zo">
<img class="circles" src="https://i.imgur.com/uQeAZ0h.jpg" alt="pic of zo">




<div class="container">
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.imgur.com/GKSazRf.jpg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Tiya and Zo</h1>
        <p>Plant Master & Apprentice</p>
        <p>Soaking up some Sun</p>
      </div>
    </div>
  </div>
<br>
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="https://i.imgur.com/rQK72qF.jpg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Zorrito</h1>
        <p>Apprentice Inspecting Seedlings</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}