{% extends 'base.html' %}

{% block content %}
<h1>About the Plant Master</h1>
<hr>
<div class="about-page">
<h2>Meet the plant master and her apprentice</h2></div>
<p>Tiya, and her apprentice, Zorrito (an Icelandic sheepdog), grow mostly succulents and catci in their currently climate, but 
    have experince with planting seeds, seed banking, and saving those neglected plants. They are friendly and helpful and also offer
    plant sitting when you're away on vacations. 
</p>


<div class="container">
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img class="zo" src="https://i.imgur.com/GKSazRf.jpg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Tiya and Zo</h1>
        <h2>Master and apprentice soaking up some sun in the garden</h2>
      </div>
    </div>
  </div>
<br><br><br><br><br><br><br><br>
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img class="zo" src="https://i.imgur.com/rQK72qF.jpg" alt="Avatar" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>Zorrito</h1>
        <h2>Zo the apprentice inspecting seedlings</h2>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}